__pycache__/data_utils.cpython-37.pyc
__pycache__/fetch_story.cpython-37.pyc
.gitignore
__pycache__/send_email.cpython-311.pyc
~$output_1001808_1001957.xlsx
__pycache__/change_owner.cpython-311.pyc
__pycache__/classify_story.cpython-311.pyc
__pycache__/fetch_story_unclassified.cpython-311.pyc
__pycache__/fetch_story.cpython-311.pyc
__pycache__/send_email.cpython-311.pyc
emailbot.log
README.md
__pycache__
emailbot.log
.gitignore
__pycache__/data_utils.cpython-311.pyc
__pycache__/fetch_history.cpython-311.pyc
__pycache__/*.pyc
__pycache__/change_owner.cpython-37.pyc
__pycache__/fetch_story_unclassified.cpython-37.pyc
__pycache__/fetch_story.cpython-37.pyc
__pycache__/send_email.cpython-37.pyc
